<h1>ログインページ</h1>

<%= form_with(url: session_path, local: true) do |form| %>
    <div>
        <%= form.label :email, 'メールアドレス' %><br>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :password, 'パスワード' %><br>
        <%= form.password_field :password %>
    </div>

    <div>
        <%= form.submit 'ログイン', id: 'create-session' %>
    </div>
<% end %>
