<%= form_with(model: task, local: true) do |form| %>
    <% if task.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% if @task&.errors&.any? %>
                    <% @task.errors.full_messages.each do |message| %>
                        <li><%= message.gsub(' ', '') %></li>
                    <% end %>
            <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title, id: 'task_title' %>
    </p>

    <p>
        <%= form.label :content %><br>
        <%= form.text_area :content, id: 'task_content' %>
    </p>

    <p>
        <%= form.label :deadline_on, '終了期限' %><br>
        <%= form.date_field :deadline_on %>
    </p>

    <p>
        <%= form.label :priority, '優先度' %><br>
        <%= form.select :priority, [['高', 'high'], ['中', 'medium'], ['低', 'low']], selected: '', include_blank: '' %>
    </p>

    <p>
        <%= form.label :status, 'ステータス' %><br>
        <%= form.select :status, [['未着手', 'not_started'], ['着手中', 'in_progress'], ['完了', 'completed']], selected: '', include_blank: '' %>
    </p>

    <p>
        <% if task.new_record? %>
            <%= form.submit t('tasks.new.create_task'), id: 'create-task' %>
        <% else %>
            <%= form.submit t('tasks.edit.update_task'), id: 'update-task' %>
        <% end %>
    </p>
<% end %>
