<h1>アカウント編集ページ</h1>

<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model: @user, url: user_path(@user), local: true) do |form| %>
    <div>
        <%= form.label :name, '名前' %><br>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :email, 'メールアドレス' %><br>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :password, 'パスワード' %><br>
        <%= form.password_field :password %>
    </div>

    <div>
        <%= form.label :password_confirmation, 'パスワード（確認）' %><br>
        <%= form.password_field :password_confirmation %>
    </div>

    <div>
        <%= form.submit '更新する', id: 'update-user' %><br>
        <%= link_to '戻る', user_path, id: 'back' %>
    </div>
<% end %>
