<!DOCTYPE html>
<html>
    <head>
        <title>Admin - CdpWebManyoTask</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav>
        <%= link_to 'ユーザ一覧', admin_users_path, id: 'users-index' %> |
        <%= link_to 'ユーザを登録する', new_admin_user_path, id: 'add-user' %> |
        <%= link_to 'アカウント設定', user_path(current_user), id: 'account-setting' %> |
        <%= link_to 'ログアウト', session_path, method: :delete, id: 'sign-out' %>
        </nav>

        <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
        <% elsif flash[:alert] %>
        <p class="alert"><%= flash[:alert] %></p>
        <% end %>

        <%= yield %>
    </body>
</html>
